.item {
  padding: 20px 24px;

  width: 60%;

  border-radius: 12px;
  background: rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(16px);

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  cursor: pointer;

  font-size: 18px;
  /* font-weight: 700; */
  display: flex;
  flex-direction: column;
  gap: 6px;

  transition: all 0.3s ease;
}

.item:hover {
  transform: translateX(-12px);
}

.itemIndex {
  font-size: 14px;
}

.itemName {
  font-size: 16px;
  text-align: right;
}
