.page {
  position: absolute;
  top: 26%;
  left: 0;
  right: 0;
  bottom: 20%;
  width: 480px;
  max-width: 90%;
  margin: auto;
  text-align: center;
  padding-inline: 24px;
}

.page .title h1 {
  font-size: 48px;
  font-weight: 700;
}

.page .content {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 28px;
}

.page .content p {
  font-size: 14px;
}
