.item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 60%;
  padding: 20px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.item:hover {
  transform: translateX(-12px);
}

.item .itemCode {
  font-size: 14px;
}

.item .itemName {
  font-size: 16px;
  text-align: right;
}
